$flaticon-font: "flaticon";

@font-face {
  font-family: $flaticon-font;
  src: url("./flaticon.ttf?75cefd814abc88bd95c58bc5570b977f") format("truetype"),
    url("./flaticon.woff?75cefd814abc88bd95c58bc5570b977f") format("woff"),
    url("./flaticon.woff2?75cefd814abc88bd95c58bc5570b977f") format("woff2"),
    url("./flaticon.eot?75cefd814abc88bd95c58bc5570b977f#iefix")
      format("embedded-opentype"),
    url("./flaticon.svg?75cefd814abc88bd95c58bc5570b977f#flaticon")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
  "data-encryption": "\f101",
  "brain": "\f102",
  "data-science": "\f103",
  "computer": "\f104",
  "technical-support": "\f105",
  "network": "\f106",
  "innovation": "\f107",
  "coding": "\f108",
  "app-development": "\f109",
  "laptop": "\f10a",
  "computer-1": "\f10b",
  "technical-support-1": "\f10c",
);

.flaticon-data-encryption:before {
  content: map-get($flaticon-map, "data-encryption");
}
.flaticon-brain:before {
  content: map-get($flaticon-map, "brain");
}
.flaticon-data-science:before {
  content: map-get($flaticon-map, "data-science");
}
.flaticon-computer:before {
  content: map-get($flaticon-map, "computer");
}
.flaticon-technical-support:before {
  content: map-get($flaticon-map, "technical-support");
}
.flaticon-network:before {
  content: map-get($flaticon-map, "network");
}
.flaticon-innovation:before {
  content: map-get($flaticon-map, "innovation");
}
.flaticon-coding:before {
  content: map-get($flaticon-map, "coding");
}
.flaticon-app-development:before {
  content: map-get($flaticon-map, "app-development");
}
.flaticon-laptop:before {
  content: map-get($flaticon-map, "laptop");
}
.flaticon-computer-1:before {
  content: map-get($flaticon-map, "computer-1");
}
.flaticon-technical-support-1:before {
  content: map-get($flaticon-map, "technical-support-1");
}
